<h1 mat-dialog-title>Dialog Book Borrow</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="formNewBorrow" (ngSubmit)="borrow()">
        <mat-form-field class="formInput">
            <mat-label>BookId</mat-label>
            <input matInput name="BookId" formControlName="bookId">
        </mat-form-field>
        <br>
        <mat-form-field class="formInput">
          <mat-label>CategoryId</mat-label>
          <input matInput name="CategoryId" formControlName="categoryId">
        </mat-form-field>
        <br>
        <mat-form-field class="formInput">
          <mat-label>BorrowName</mat-label>
          <input matInput name="BorrowName" formControlName="borrowName">
          <mat-error *ngIf="formNewBorrow.controls.borrowName.invalid">Name is required</mat-error>
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-button mat-dialog-close>Close</button>
          <button mat-button mat-raised-button color="primary" type="submit" [disabled]="!formNewBorrow.valid">Borrow</button>
        </div>
    </form>
</div>
