<div class="container">
  <div class="form-add">
    <h2 class="title">Book Add</h2>
    <form class="example-form" [formGroup]="bookForm" (ngSubmit)="addBook()">
      <mat-form-field class="formInput">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        @if (bookForm.controls.name.invalid) {
        <mat-error>{{getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <br>
      <mat-form-field class="formInput">
        <mat-label>Select a category</mat-label>
        <mat-select name="category" formControlName="categoryId">
          <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="bookForm.controls.categoryId.invalid">Category is required</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="formInput">
        <mat-label>Quantity</mat-label>
        <input type="number" matInput name="quantity" formControlName="quantity" required>
        <mat-error *ngIf="bookForm.controls.quantity.hasError('required')">Quantity is required</mat-error>
        <mat-error *ngIf="bookForm.controls.quantity.hasError('min')">Quantity must be greater than 0</mat-error>
      </mat-form-field>
      <br>
      <div class="btnAdd">
        <button type="submit" mat-raised-button color="primary" [disabled]="!bookForm.valid">
          Add
        </button>
      </div>
    </form>
  </div>
</div>